<section id="contact" class="l-main l-contact">
  <h2>contact</h2>
  <p class="t-section-caption">Liked what you saw and got a problem that needs solving? Reach out and I'll do my best
    to see what I can do for you!</p>
  <div class="l-contact__content">
    <ul class="l-contact__list">
      <% if(contact.phone) { %>
        <li class="l-contact__item l-contact__item--phone">
          <%= contact.phone %>
        </li>
      <% } %>
      <li class="l-contact__item l-contact__item--mail">
        <a href="mailto:<%= contact.mail %>">
          <%= contact.mail %>
        </a>
      </li>
      <li class="l-contact__item l-contact__item--linkedin">
        <a href="<%= contact.linkedin %>">LinkedIn</a>
      </li>
      <li class="l-contact__item l-contact__item--github">
        <a href="<%= contact.github %>">GitHub</a>
      </li>
    </ul>
  </div>
</section>