<div class="c-experiences__paginator">
  <% experiences.forEach(function(experience) { %>
  <div class="c-experiences__page" data-company-id="<%= experience.id %>">
    <%= experience.id %>
  </div>
  <% }) %>
</div>

<div class="c-experiences__content">
  <% experiences.forEach(function(experience) { %>
  <% var company = experience.company %>
  <article class="c-experience l-panel" data-company-id="<%= experience.id %>">
    <div class="c-experience__header">
      <div class="c-experience__logo">
        <img src="<%- company.logo %>" alt="<%= company.name%>">
      </div>
      <div class="c-experience__title">
        <p class="c-experience__job-title">
          <%= experience.title %>
        </p>
        <p class="c-experience__company-name">
          <%= company.name %>
        </p>
        <p class="c-experience__date">
          <%= experience.start %> -
          <%= experience.end %>
        </p>
        <p class="c-experience__company-location">
          <%= company.location %>
        </p>
      </div>
    </div>
    <div class="c-experience__summary">
      <%- experience.summary %>
      <div class="c-experience__summary__toggle">... <span class="c-experience__summary__toggle-text">see more</span></div>
    </div>
    <% if (experience.projects) { %>
    <div class="c-experience__label">Projects</div>
    <div class="c-experience__projects">
      <% experience.projects.forEach(function (project) { %>
      <div class="c-experience__project">
        <% if (project.link) { %>
        <a href="<%- project.link %>" target="_blank" rel="noopener">
          <% } %>
          <div class="c-experience__project__image">
            <img src="<%- project.thumbnail %>" alt="<%= project.name %>">
          </div>
          <p>
            <%= project.name %>
          </p>
          <% if (project.link) { %>
        </a>
        <% } %>
      </div>
      <% }) %>
    </div>
    <% } %>
  </article>
  <% }) %>
</div>