<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nomad Macaw</title>
</head>

<body>
  <%- include partials/header.ejs %>
  <%- include partials/home.ejs %>
  <%- include partials/services.ejs %>
  <%- include partials/about.ejs %>
  <%- include partials/experience.ejs %>
  <%- include partials/testimonials.ejs %>
  <%- include partials/contact.ejs %>

  <footer class="l-footer">
    <p class="copyright">&copy; 2018 nomadmacaw.com</p>
    <p>Banner picture by <a href="https://unsplash.com/photos/hGV2TfOh0ns" rel="nofollow">Domenico Loia</a></p>
  </footer>
</body>

</html>